{% import_text "nginx/ng/defaults-os_family.yaml" as defaults_os_family -%}
{% import_text "nginx/ng/defaults.yaml" as defaults -%}
{%- set os_family_map =  salt['slsutil.renderer'](string=defaults_os_family) -%}
{%- set defaults_map =  salt['slsutil.renderer'](string=defaults) -%}

{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json(sort_keys=False) }}
    {% endfor %}
{% endmacro %}

{% set nginx = salt['grains.filter_by'](
    os_family_map,
    grain='os_family',
    merge=salt['pillar.get']('nginx:ng', defaults_map, merge=True)
) %}
